
  <div class="thumb-wrapper">
    <div class="img-box">
      <img src="../../assets/images/products/20-item-a.jpg" class="img-responsive img-fluid" alt="">
    </div>
    <div class="thumb-content">
      <h4>Apple iPad</h4>
      <p class="item-price"><u>$400.00</u> <span>$369.00</span></p>
      <div class="star-rating">
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-star"></i></li>
          <li class="list-inline-item"><i class="fa fa-star"></i></li>
          <li class="list-inline-item"><i class="fa fa-star"></i></li>
          <li class="list-inline-item"><i class="fa fa-star"></i></li>
          <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
        </ul>
      </div>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>						
  </div>