.headerfull {
    background-size: cover;
    padding: 0px 15px;
}

.wsmenu>.wsmenu-list>li.wsshopmyaccount>a {
    color: #384257;
   font-family: "Roboto";
    font-weight: 500;
    padding: 0 16px;
    text-transform: uppercase;
    font-size: 15px;
 
}

.wsmenu>.wsmenu-list>li>a {
    color: #384257;
}

.navtext::after {
/*    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;*/
    transition: width .3s;
    margin-top: 6px
}

.navtext:hover,
.navtext:hover::after {
    width: 100%;
    transition: width .3s;
    color: #00aced!important;
}
.navtext:active,
.navtext:active::after {
    width: 100%;
    transition: width .3s;
    color: #00aced!important;
}

.wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none
}
.wsmenu>.wsmenu-list>li.wsshopmyaccount>a:hover{
   color: #00aced;

}
